@charset "utf-8";

.wrapper {
  width: 500px;
  height: 200px;
  background-color: yellow;
  position: relative;
}

.a11y-hidden {
  position: absolute;
  left: -9999px;
}

.menu > li {
  display: inline-block;
}

.menu > li {
  display: inline-block;
}

.menu > li > span {
  background-color: blue;
}

.menu-detail {
  background-color: orange;
  position: absolute;
  display: inline-block;
  white-space: nowrap;
}

.menu-detail li {
  display: inline-block;
}

.menu-detail-group-1 {
  display: none;
}

.menu-detail-group-2 {
  display: none;
}

.menu-detail-group-3 {
  display: none;
  position: absolute;
  right: 0;
}

.menu-detail-active {
  display: block!important;
}