@import url("./reset.css");
h1 {
  text-align: center;
  background: black;
  color: white;
  font-size: 40px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

.list-box li {
  padding: 5px;
}

.list-box {
  background: linear-gradient(to bottom, white 0%, skyblue 100%);
  border: 2px solid;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  margin-left: 30px;
  text-align: center;
  overflow: hidden;
  transition: height, background, font-weight;
  transition-duration: 1s, 1s, 1s;
}

.list-box:hover,
.list-box:focus,
{
  height: 150px;
  background: skyblue;
}

.no:focus {
  height: 150px;
  background: skyblue !important;
}