@charset "utf-8";
@import url("./reset.css");
button {
  margin: 0;
  padding: 0;
  border: none;
}

body h2 {
  box-sizing: border-box;
  background: url("img/sprite.png") no-repeat;
  height: 0;
  width: 400px;
  padding-top: 400px;
  overflow: hidden;
  background-color: gray;
  background-position: -18px 0;
}

body button {
  background: url("img/sprite.png") no-repeat;
  cursor: pointer;
  width: 18px;
  height: 18px;
  padding-top: 18px;
  overflow: hidden;
}

body :nth-child(3) {
  background-position: 0 -18px;
}