@charset "utf-8";
@import url("./normalize.css");
@import url("./reset.css");
body {
  background: #555;
}

.container {
  background: #bbb;
  min-height: 200vh;
  width: 1000px;
  margin: 0 auto;
}

.header {
  background: yellow;
  min-height: 200px;
}

.logo {
  position: fixed;
  border: 10px solid blue;
  font-size: 2.0rem;
  top: 0;
  left: 0;
}

.main-content {
  background: green;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.main-content {}

.news,
.rank,
.personel {
  width: 300px;
  height: 300px;
  margin: 10px;
}

.news {
  background: aqua;
  position: relative;
  order: 3;
  left: 40px;
}

.rank {
  background: olive;
}

.personel {
  background: violet;
}

.footer {
  background: red;
}

.info-list {
  position: relative;
}

.info-list li {
  border: 1px solid black;
}

.info-1 {
  top: 100px;
  position: absolute;
}

.info-3 {
  top: 100px;
  position: relative;
}